# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Python distribution / packaging
*.egg-info/

# Python unit test / coverage reports
.cache
.coverage
.coverage.*
htmlcov/
pytestdebug.log

# Sphinx documentation
docs/build/

# Ignore generated swap files with extensions
*.swp
*.swo
*.swn
