[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "==3.5.0"
mock = "==2.0.0"
"openapi2jsonschema" = "==0.8.0"
pprintpp = "==0.4.0"
pylint = "==2.2.2"
pytest-cov = "==2.6.1"
pytest-mock = "==1.10.1"
sphinx-autobuild = "==0.7.1"
sphinxcontrib-openapi = "==0.4.0"
tox = "==3.5.3"
pyflakes = "==1.6.0"
logging-tree = "==1.8"
pytest-xdist = "==1.26.1"
sphinx-rtd-theme = "==0.4.3"
sphinx = "==1.8.4"
pytest = "==4.2.1"

[packages]
PyYAML = ">=3.12"
falcon = "==1.4.1"
gunicorn = "==19.9.0"
jsonschema = "==2.6.0"
psycopg2-binary = "==2.7.7"

[requires]
