[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mock = "==3.0.5"
openapi2jsonschema = "==0.9.0"
pprintpp = "==0.4.0"
pylint = "==2.3.1"
pytest-cov = "==2.7.1"
pytest-mock = "==1.10.4"
sphinx-autobuild = "==0.7.1"
sphinxcontrib-openapi = "==0.4.0"
tox = "==3.12.1"
pyflakes = "==2.1.1"
logging-tree = "==1.8"
pytest-xdist = "==1.28.0"
sphinx-rtd-theme = "==0.4.3"
sphinx = "==2.0.1"
pytest = "==4.5.0"
flake8 = "==3.7.7"
docker = "==4.0.1"
requests = "*"
bandit = "==1.6.0"

[packages]
falcon = "==2.0.0"
gunicorn = "==19.9.0"
jsonschema = "==3.0.1"
pyyaml = "*"
psycopg2 = "*"

[requires]
