swagger: "2.0"

################################################################################
#                              API Information                                 #
################################################################################
info:
  description: "Snippy REST API"
  version: "1.0.0"
  title: "Snippy REST API"
  termsOfService: "https://github.com/heilaaks/snippy"
  contact:
    email: "laaksonen.heikki.j@gmail.com"
  license:
    name: "Apache 2.0"
    url: "https://github.com/heilaaks/snippy/blob/master/LICENSE"
host: "snippettips.com"
basePath: "/api/v1"

################################################################################
#                                           Paths                              #
################################################################################
paths:
  /snippets:
    post:
      tags:
      - "snippet"
      summary: "Add new snippet"
      description: ""
      consumes:
      - "application/json; charset=UTF-8"
      produces:
      - "application/json; charset=UTF-8"
      parameters:
      - name: snippet
        in: body
        description: "New snippet that is stored"
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/Content"
      responses:
        201:
          description: "Snippet created"
          schema:
            type: array
            items:
              $ref: "#/definitions/Content"
        405:
          description: "Invalid input"
          schema:
            $ref: '#/definitions/Errors'
        500:
          description: "Internal server error"
    get:
      tags:
      - "snippet"
      summary: "Search snippets"
      description: ""
      produces:
      - "application/json; charset=UTF-8"
      parameters:
        - name: sall
          type: array
          items:
            type: string
          in: query
          required: false
          description: "Search keywords from all fields."
        - name: stag
          type: array
          items:
            type: string
          in: query
          required: false
          description: "Search keywords only from tag field."
        - name: sgrp
          type: array
          items:
            type: string
          in: query
          required: false
          description: "Search keywords only from group field."
        - name: digest
          type: string
          in: query
          required: false
          description: "Search only based on message digest field."
        - name: data
          type: string
          in: query
          required: false
          description: "Search only from content data."
        - name: filter
          type: string
          in: query
          required: false
          description: "Filter search result with provided regexp."
        - name: limit
          type: integer
          default: 20
          in: query
          required: false
          description: "Limit query result list."
        - name: sort
          type: string
          default: brief
          enum: [data, brief, group, tags, links, category, filename, runalias, versions, utc, digest, key]
          in: query
          required: false
          description: "Sort based on defined field."
        - name: fields
          type: array
          items:
            type: string
            enum: [data, brief, group, tags, links, category, filename, runalias, versions, utc, digest, key]
          in: query
          required: false
          description: "Limit fields that are returned in result list."
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Content"
        400:
          description: "Request not syntactically correct"
          schema:
            $ref: '#/definitions/Errors'
        404:
          description: "Snippet not found"
          schema:
            $ref: '#/definitions/Errors'
        500:
          description: "Internal server error"
    delete:
      tags:
      - "snippet"
      summary: "Delete one snippet"
      description: ""
      parameters:
        - name: sall
          type: array
          items:
            type: string
          in: query
          required: false
          description: "Search keywords from all fields."
        - name: stag
          type: array
          items:
            type: string
          in: query
          required: false
          description: "Search keywords only from tag field."
        - name: sgrp
          type: array
          items:
            type: string
          in: query
          required: false
          description: "Search keywords only from group field."
        - name: digest
          type: string
          in: query
          required: false
          description: "Search only based on message digest."
        - name: data
          type: string
          in: query
          required: false
          description: "Search only from content data."
      responses:
        204:
          description: "Snippet deleted"
        400:
          description: "Request not syntactically correct"
          schema:
            $ref: '#/definitions/Errors'
        404:
          description: "Snippet not found"
          schema:
            $ref: '#/definitions/Errors'
        405:
          description: "More than one snippet found"
          schema:
            $ref: '#/definitions/Errors'
        500:
          description: "Internal server error"

  /snippets/{digest}:
    put:
      tags:
      - "snippet"
      summary: "Update defined snippet"
      description: ""
      consumes:
      - "application/json; charset=UTF-8"
      produces:
      - "application/json; charset=UTF-8"
      parameters:
        - name: digest
          in: path
          type: string
          required: true
          description: "Unique snippet identified by message digest."
          x-example: 6dc4b06991780012
        - name: snippet
          in: body
          description: "Existing snippet that is updated"
          required: true
          schema:
            $ref: "#/definitions/Content"
      responses:
        201:
          description: "Snippet updated"
          schema:
            type: array
            items:
              $ref: "#/definitions/Content"
        400:
          description: "Request not syntactically correct"
          schema:
            $ref: '#/definitions/Errors'
        404:
          description: "Snippet not found"
          schema:
            $ref: '#/definitions/Errors'
        405:
          description: "Validation exception"
          schema:
            $ref: '#/definitions/Errors'    
        500:
          description: "Internal server error"
    get:
      tags:
      - "snippet"
      summary: "Get snippet with digest"
      description: ""
      produces:
      - "application/json; charset=UTF-8"
      parameters:
        - name: digest
          in: path
          type: string
          required: true
          description: "Unique snippet identified by message digest."
          x-example: 44afdd0c59e17159
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Content"
        400:
          description: "Request not syntactically correct"
          schema:
            $ref: '#/definitions/Errors'
        404:
          description: "Snippet not found"
          schema:
            $ref: '#/definitions/Errors'
        500:
          description: "Internal server error"
    delete:
      tags:
      - "snippet"
      summary: "Delete snippet with digest"
      description: ""
      parameters:
        - name: digest
          in: path
          type: string
          required: true
          description: "Unique snippet identified by message digest."
          x-example: a516e2d6f8aa5c6f
      responses:
        204:
          description: "Snippet deleted"
        404:
          description: "Snippet not found"
          schema:
            $ref: '#/definitions/Errors'
        405:
          description: "More than one snippet found"
          schema:
            $ref: '#/definitions/Errors'
        500:
          description: "Internal server error"

################################################################################
#                                 Definitions                                  #
################################################################################
definitions:
  Content:
    type: object
    properties:
      data:
        type: array
        items:
          type: string
        description: "Mandatory content data in list context with one line per element."
      brief:
        type: string
        description: "Optional brief description of the content."
      group:
        type: string
        description: "Optional group to which the content belongs."
        default: default
      tags:
        type: array
        items:
          type: string
        description: "Optional list of tags."
      links:
        type: array
        items:
          type: string
        description: "Optional list of refrence links."
      category:
        type: string
        enum: [snippet, solution]
        description: "Automatically assigned content category."
      filename:
        type: string
        description: "Optional filename that that defines automatically used filename when content is exported."
      runalias:
        type: string
        description: "Optional alias to run the content."
      versions:
        type: string
        description: "Optional list of services and versions related to the snippet."
      utc:
        type: string
        description: "Optional UTC timestamp in ISO 8601 format that is automatically assigned if left out."
      digest:
        type: string
        description: "Automatically assigned message digest that uniquely identifies the content."
      metadata:
        type: string
        description: "Automatically assigned internal metadata."
      key:
        type: string
        description: "Automatically assigned internal contentn key."
    required:
      - data
  Errors:
    type: object
    properties:
      metadata:
        $ref: '#/definitions/Metadata'
      errors:
        type: array
        items:
          $ref: '#/definitions/Error'
    required:
      - metadata
      - errors
  Metadata:
    type: object
    properties:
      version:
        type: string
        description: "Server version"
      homepage:
        type: string
        description: "Server homepage URL"
    required:
      - version
      - homepage
  Error:
    type: object
    properties:
      code:
        type: integer
        description: "HTTP status code"
      status:
        type: string
        description: "HTTP status code with text"
      module:
        type: string
        description: "Location of error"
      message:
        type: string
        description: "Message describing the error."
    required:
      - code
      - status
      - module
      - message
  Search:
    type: object
    properties:
      sall:
        type: array
        items:
          type: string
        description: "Search keywords from all fields."
      stag:
        type: array
        items:
          type: string
        description: "Search keywords only from tag field."
      sgrp:
        type: array
        items:
          type: string
        description: "Search keywords only from group field."
      digest:
        type: string
        description: "Search only based on message digest."
      data:
        type: string
        description: "Search only from content data."
      filter:
        type: string
        description: "Filter search result with regexp."
